<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Kyndryl Use Case 3 Demonstration {{env}}</title>
    </head>
    <body bgcolor="#C83C01" style="color:#FFFFFF;">
        <br /><br /><br />
        <H1 align="middle">Kyndryl Use Case 3 Demonstration</H1>
        <H4 align="middle">Diese Seite wurde ihnen praesentiert von WebServer</H4>
        <H1 align="middle">{{ansible_hostname}}</H1>
        <H6 align="right">Diese Seite wurde erzeugt am {{ansible_date_time.day}}.{{ansible_date_time.month}}.{{ansible_date_time.year}} at {{ansible_date_time.time}} ({{ansible_date_time.tz}})</H6>
    </body>
</html>